@media (max-width: 1200px) {
    body {
        background-color: #f44336;
    }

    .fundo-video {
        display: none;
    }

    .container {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        gap: 40px;
    }

    .container .mario {
        max-width: 50%;
    }

    .container .informacoes {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .container .descricao {
        color: white;
        text-align: center;
    }

    .container .botao-trailer {
        background-color: #263238;
    }
}

@media (max-width: 500px) {
    
    .cabecalho {
        flex-wrap: wrap;
        justify-content: center; 
        gap: 10px;
    }

    .container .imagem-titulo {
        max-width: 90%;
    }

    .modal .fechar-modal {
        line-height: 20px;
        height: 20px;
    }

    .modal #video {
        width: 320px;
        height: 169px;
    }

    .container .descricao {
        text-align: justify;
    }
}

@media (max-width: 376px) {
    .modal #video {
        width: 250px;
        height: 140px;
    }
}